Repository shanquan954/test: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
  "*.js": ["eslint", "prettier --write"],
  "*.{js,ts,json,html}": "prettier --write"
}

update redame
  README.md
Due: none

test lint-staged
  .lintstagedrc.json
Due: prettier --write

test lint-staged
  .lintstagedrc.json
  index.js
Due: eslint, prettier --write

调整lint-staged
  .lintstagedrc.json
Due: prettier --write

完成删除
  index.js
Due: eslint, prettier --write

添加新数据
  data.txt
Due: none

chore: 添加commit-lint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: eslint, prettier --write

chore(master): 添加prompt 生产commit 石溪
  package.json
  yarn.lock
Due: prettier --write

feat: add cz-git
  README.md
  package.json
  yarn.lock
Due: prettier --write
